* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App a {
  text-decoration: none;
  color: black;
}

.Home {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

a:hover {
  color: #9147FF;
}